<div class="container articles-container">
  <h2 class="heading"><%= @article.title %></h1>
    <div class="card card-single shadow rounded">
      <div class="card-header font-italic">
        by <%= @article.user.username if @article.user %>
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
      </div>
      <div class="card-body">
        <div class="card-text"><%= simple_format(@article.description) %></div>
        <div class="categories-list">
        <% if @article.categories.any? %>
          <p>Categories: &nbsp; <%= render @article.categories %></p>
        <% end %>
        </div>
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-info" %>
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago
      </div>
    </div>
 
 
 
  

  <%= link_to 'Create new article', new_article_path, class: "btn btn-primary" %>
</div>